<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>有关资料</title>
    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/body.css" />
    <link rel="stylesheet" href="../static/css/about.css" />
  </head>
  <body>
    <nav class="homenav">
      <div class="navtitle"><strong>SDAU</strong>基于视觉-语言深度学习模型的遥感目标计数平台</div>
        <a href="/home">首页</a>
        <a href="/about" class="active">有关资料</a>
        <a href="/blog">采用方法</a>
        <a href="/album">图像计数</a>
        <a href="/join">联系我们</a>
      <div class="navanim home"></div>
      <div class="none"></div>
    </nav>
    <div class="mid">
      <div class="headimg">
        <h1>相关调查</h1>
      </div>
      <div class="ab a1">
        <div class="txt">
          <h2>技术产生的背景</h2>
          <p>
            &emsp;&emsp; 随着我国遥感卫星技术的跨越式发展，海量数据的处理需求对传统人工解译方法提出了严峻挑战，
          遥感技术的快速迭代与数据规模爆发式增长，催生了智能化、高精度目标计数技术的研发需求，成为推动
          行业升级的关键突破口。
          </p>
          <p>
            &emsp;&emsp;尤其在复杂场景（如密集目标分布、小尺度物体检测）下，现有自动化方法的平 均准确率不足80%
            ，难以满足城市规划、环境监测、农业生产等领域对高效精准分析的迫切需求。面对遥 感数据价值挖掘的
            技术瓶颈与行业数字化转型的加速趋势，亟需通过多模态融合技术创新，构建新一代智 能解译体系，为数
            字中国建设提供核心支撑。
          </p>
        </div>
        <div class="imghid">
          <div class="img"></div>
        </div>
      </div>
      <div class="ab a2">
        <div class="imghid">
          <div class="img"></div>
        </div>
        <div class="txt">
          <h2>解决的行业痛点</h2>
          <p>
            &emsp;&emsp;现有遥感目标计数技术长期受限于小尺度目标检测召回率低，导致关键地物漏检频发、复杂场景下因
            目标密集、遮挡引发的误检率波动幅度大，严重影响结果可靠性和传统算法多针对单一类别设计，难以应
            对实际应用中多目标协同检测的复杂需求三大难题。
          </p>
          <p>
            &emsp;&emsp;本技术聚焦行业长期存在的精度低、稳定性差、适应性弱等痛点，以系统性创新实现关键能力跃升，重
            塑遥感智能解译技术标准，为行业提供了高鲁棒性解决方案。
          </p>
        </div>
      </div>
      <div class="ab a3">
        <div class="txt">
          <h3>
            目前, 基于原创的DR-CLIP多模态融合框架，本技术在权威测试中取得显著突破。在DIOR数据集得到的结论
            较传统方法有提升；针对小目标实现高精度检测；实现单图处理时间优化和密集场景性能波动稳定性。实际应用
            中，技术已赋能城市规划、农业监测等核心领域，某试点项目实现建筑物计数效率和准确率大幅提升，有效降低
            农业调查成本，提升了野生动物动态监测效率。以权威数据验证技术领先性，以真实场景落地彰显实用价值，本
            成果标志着我国遥感智能解译技术正式迈入高精度、高效率、高适应性的新阶段。
            <br>
          </h3>
        </div>
        <div class="imghid">
          <div class="img"></div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <footer class="foot">
      <p>有关资料</p>
      <p>基于视觉-语言深度学习模型的遥感目标计数平台</p>
    </footer>
  </body>
</html>