<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"
    />
    <title>图像计数</title>
    <link rel="stylesheet" href="../static/css/body.css" />
    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/album.css" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="data:;base64,=">


  </head>
  <br>
    <nav class="homenav">
      <div class="navtitle"><strong>SDAU</strong>基于视觉-语言深度学习模型的遥感目标计数平台</div>
      <a href="/home">首页</a>
      <a href="/about">有关资料</a>
      <a href="/blog">采用方法</a>
      <a href="/album" class="active">图像计数</a>
      <a href="/join">联系我们</a>
      <div class="navanim home"></div>
      <div class="none"></div>
    </nav>
    <!-- <h2 align="center">选择图片</h2> -->

        <!-- <div>
          <input type="file" name="photo" id="photo" class="button_1" />
        </div> -->
        <!-- <img crossorigin="anonymous" /> -->
  <br>
  <br>

<div class="iframe-container">
    <iframe src="http://localhost:7860" width="800" height="600" frameborder="0"></iframe>
    </div>

<style>
        .iframe-container {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .iframe-container iframe {
            width: 1400px;
            height: 800px;
            border-radius: 10px;
            transition: all 0.3s ease; /* 平滑过渡效果 */
        }
    </style>

    <footer class="foot">
      <p style="color: black"><strong>注意事项</strong></p>
      <p>
        由于数据传输和网络速度差异，请等待 1 到 2 分钟。
      </p>
        <p>
            建议：如果网页缓存失败，请刷新网页。
        </p>



  </body>


</html>