<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/homestyle.css" />
    <link rel="stylesheet" href="../static/css/body.css" />
    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/blog.css"/>
<!--    <script src="../static/js/zoom.js"></script>-->
    <title>首页</title>
  </head>
  <body>
    <nav class="homenav">
      <div class="navtitle"><strong>SDAU</strong>基于视觉-语言深度学习模型的遥感目标计数平台</div>
        <a href="/home" class="active">首页</a>
        <a href="/about">有关资料</a>
        <a href="/blog">采用方法</a>
        <a href="/album">图像计数</a>
        <a href="/join">联系我们</a>
      <div class="navanim home"></div>
      <div class="none"></div>
    </nav>
    <main class="main">
      <section class="sec">
        <div class="titleimg">
          <div class="title">
            基于视觉-语言深度学习模型的<br />
            遥感目标计数平台
          </div>
        </div>
      </section>
      <section class="sec">
        <a href="about">
          <div class="part1 pt">
            <div class="imghid"><div class="img"></div></div>
            <div class="txt">
              <h1>有关资料</h1>
              <p><strong>遥感目标计数技术的背景、痛点</strong></p>
              <br />
              <p><strong>本技术取得的突破性成果</strong></p>
            </div>
          </div>
        </a>
        <a href="blog">
          <div class="part2 pt">
            <div class="txt">
              <h1>采用方法</h1>
              <br />
              <p><strong>遥感目标计数技术采用的创新方法</strong></p>
              <br />
              <p><strong>遥感目标计数技术进行的实践</strong></p>
            </div>
            <div class="imghid"><div class="img"></div></div>
          </div>
        </a>
        <a href="album">
          <div class="part3 pt">
            <div class="imghid"><div class="img"></div></div>
            <div class="txt">
              <h1>图像计数</h1>
              <p><strong>遥感目标计数功能的应用 </strong></p>
              <br />
              <p><strong>语言模型与遥感结合</strong></p>
            </div>
          </div>
        </a>
        <a href="join">
          <div class="part4 pt">
            <div class="txt">
              <h1>联系我们</h1>
              <br />
              <p><strong>QQ:2781105296</strong></p>
              <br />
              <p><strong>WeChat:njz15550322543</strong></p>
            </div>
            <div class="imghid"><div class="img"></div></div>
          </div>
        </a>
<div class="content">
        <div class="con c4">
          <div class="imghid">
            <div class="img"></div>
          </div>
          <div class="txt">
            <h2>板块一：技术创新+核心架构</h2>
            <p>
              &emsp;&emsp;首创DR-CLIP框架，融合视觉-语言预训练模型（RemoteCLIP）与可变形注意力机制
              ，构建视觉-语义对齐空间。通过双分支架构提取多模态特征，结合动态采样策略与多粒度特征金字
              塔，显著提升小目标检测能力。在NWPU VHR-10基准测试中实现了实时高效分析。
            </p>
          </div>
        </div>
</div>



<div class="content">
        <div class="con c5">
          <div class="imghid">
            <div class="img"></div>
          </div>
          <div class="txt">
            <h2>板块二：性能优势与行业突破</h2>
            <p>&emsp;&emsp;在DIOR、NWPU VHR-10等权威数据集测试中，mAP达91.3%，密集场景稳定性波动仅±2.3%，
              突破行业瓶颈。支持10类地物同步检测，自适应处理0.5-2米分辨率影像，覆盖城市、农田、海洋等多
              场景。试点应用中，城市规划局建筑物计数效率提升20倍，准确率超95%，农业监测成本降低60%，验
              证技术普适性与可靠性。
            </p>
          </div>
        </div>
</div>

<div class="content">
        <div class="con c6">
          <div class="imghid">
            <div class="img"></div>
          </div>
          <div class="txt">
            <h2>板块三：应用场景+落地价值</h2>
            <p>&emsp;&emsp;城市规划：建筑物密度分析，人工工作量减少85%；</p>
            <p>&emsp;&emsp;农业监测：作物长势评估与产量预测，调查成本降低60%；</p>
            <p>&emsp;&emsp;生态保护：野生动物动态监测，效率提升20倍；</p>
            <p>&emsp;&emsp;应急救灾：无人机影像实时处理，支撑灾损快速评估。</p>
            <p>&emsp;&emsp;系统已服务政府、科研及商业机构，未来3年预计覆盖全国70%省级遥感中心。</p>

          </div>
        </div>
</div>
<div class="content">
        <div class="con c7">
          <div class="imghid">
            <div class="img"></div>
          </div>
          <div class="txt">
            <h2>板块四：未来发展+生态构建</h2>
            <p>&emsp;&emsp;技术深化：研发移动端轻量化模型，探索多时相动态追踪与因果推理；</p>
            <p>&emsp;&emsp;领域拓展：延伸至交通流量监测、林业资源调查等新兴场景；</p>
            <p>&emsp;&emsp;生态共建：开放API接口与模型微调工具包，打造开发者社区，推动空天地一体化智能观测网络建设。</p>

          </div>
        </div>
</div>
<br>
<br>

      </section>


      <footer class="foot">
        <p>首页</p>
        <p>基于视觉-语言深度学习模型的遥感目标计数平台</p>
      </footer>
    </main>
  </body>
</html>
